@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  background-color: #121212 !important;
}

li:hover {
  border-radius: 5%;
  background-color: #1f1f1f !important;
}

.img-container {
  transition: transform 0.3s ease;
}

.img-container:hover .img2 {
  z-index: 20;
}
